##Ishan Tripathi 21BPS1383 Assignment 1

In [2]:
import pandas as pd
import numpy as np
from numpy import nan

##Creating a DataFrame as df with 10 observations and 5 features

In [4]:
df=pd.DataFrame({'Name':['Ayush','Arnav','Harsh','Chirag','Krishna','Parth','Ishan','Abhinav','Mukti','Harshal'] , 'Math': [83,78,82,92,86,94,79,80,77,85],
                 'Physics': [77,72,88,81,84,75,92,nan,80,83], 'Chemistry': [76,nan,85,74,71,70,70,88,89,82], 'IT': [82,84,96,81,85,86,90,92,88,89]},
                index=[1,2,3,4,5,6,7,8,9,10])
df

       Name  Math  Physics  Chemistry  IT
1     Ayush    83     77.0       76.0  82
2     Arnav    78     72.0        NaN  84
3     Harsh    82     88.0       85.0  96
4    Chirag    92     81.0       74.0  81
5   Krishna    86     84.0       71.0  85
6     Parth    94     75.0       70.0  86
7     Ishan    79     92.0       70.0  90
8   Abhinav    80      NaN       88.0  92
9     Mukti    77     80.0       89.0  88
10  Harshal    85     83.0       82.0  89

##Check the info of 'df'

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10 entries, 1 to 10
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Name       10 non-null     object
 1   Math       10 non-null     int64
 2   Physics    9 non-null      float64
 3   Chemistry  9 non-null      float64
 4   IT         10 non-null     int64
dtypes: float64(2), int64(2), object(1)
memory usage: 480.0+ bytes

##Check the descriptive statistics of 'df'

In [6]:
df.describe()

            Math    Physics  Chemistry         IT
count  10.000000   9.000000   9.000000  10.000000
mean   83.600000  81.333333  78.333333  87.300000
std     5.758086   6.284903   7.762087   4.643993
min    77.000000  72.000000  70.000000  81.000000
25%    79.250000  77.000000  71.000000  84.250000
50%    82.500000  81.000000  76.000000  87.000000
75%    85.750000  84.000000  85.000000  89.750000
max    94.000000  92.000000  89.000000  96.000000

## Check the 4th index observation with 'loc' slicing operator.

In [7]:
df.loc[4]

Name         Chirag
Math             92
Physics        81.0
Chemistry      74.0
IT               81
Name: 4, dtype: object

##Check the null values in your 'df'

In [8]:
df.isnull()

     Name   Math  Physics  Chemistry     IT
1   False  False    False      False  False
2   False  False    False       True  False
3   False  False    False      False  False
4   False  False    False      False  False
5   False  False    False      False  False
6   False  False    False      False  False
7   False  False    False      False  False
8   False  False     True      False  False
9   False  False    False      False  False
10  False  False    False      False  False

In [9]:
df.isnull().any()

Name         False
Math         False
Physics       True
Chemistry     True
IT           False
dtype: bool